---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import FAQ from "@components/FAQ.astro";
import DownloadExtension from '@components/DownloadExtension.astro';
import Hero from '@components/Hero.astro';
import Newsletter from '@components/Newsletter.astro';
import Features from '@components/Features.astro';
import Header from "@components/Header.astro";
---

<Layout>
  <Header />
	<main>
    <Hero />
    <Features />
    <DownloadExtension />
		<FAQ />
		<Newsletter />
	</main>
	<Footer />
</Layout>
